body {
  font-family: 'Nunito', sans-serif;
  color: #000000;
  background: #8C001A;
}

a { 
  color: #4FB69F;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.600em;
  letter-spacing: -1.5px;
  color: #CCAC00;
}

h2 {
  font-size: 1.500em;
  color: #CCAC00;
}

.btn {
  color: #000000;
  background: #CCAC00;
  padding: 2% 4%;
  margin: 5.3333% 0%;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #000000;
  color: #CCAC00;
}

ul.nav {
  margin: 18.181818% 0 0 0;
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-right: 6.0606%;
}

ul.nav li a {
  color: #FAF3BC;
}

#intro {
  margin: 6.75% 1.35% 10.135% 0; 
}

#loves img {
  border: dotted #CCAC00;
  border-width: 1.212%;
  margin: 4.938% 0 0 0;
}

#quirk img {
  border: dotted #CCAC00;
  border-width: 1.391%;
  margin: 2.702% 0 0 0;
}

#copyright {
  border-top: solid #2A0400;
  border-top-width: 0.8%;
  padding: 1% 0%; 
  margin: 1.5% 0%;
  text-align: center;
}

.grid_4 {
  margin-top: 10.9375%;
}

/*media queries*/
/* Smaller Resolution ------------------- */
@media screen and (max-width: 650px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%;
  }

  #nav ul li a {
    -webkit-user-select: none;
    font-size: 0.750em;
  }
  #nav ul li {
    float: left;
    margin: 5% 0;
  }
  #about_photo img{
    display: none;
  }
  #quirk, #loves {
    margin: 5% 0;
  }
  #loves img {
    max-width: 95%;
  }

  #logo {
    max-width: 100%;
  }
  ul.nav {
    margin: 3% 0 0 0;
    float: left;
  }
}

/* Medium Resolution ----------- */
@media screen and (max-width: 1100px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%;
  }

  #nav ul li a {
    font-size: 0.750em;
  }
  #nav ul li {
    float: left;
    margin: 5% 0;
  }
  #about_photo img{
    display: none;
  }
  #quirk, #loves {
    margin: 5% 0;
  }

  #logo {
    max-width: 100%;
  }
  #intro {
    max-width: 100%;
  }
  ul.nav {
  margin: 3% 0 0 0;
  float: left;
}
}














